app:
  name: app-service
  image: ghcr.io/doda2025-team20/app:latest
  port: 8080
  canary:
    enabled: true
    image: ghcr.io/doda2025-team20/app:canary
    tag: v2

model:
  name: model-service
  image: ghcr.io/doda2025-team20/model-service:latest
  port: 8081

  # Choose hostPath (true) to use the VM shared folder mounted into each VM.
  # If false, k8 will use the PVC (see model-service-claim0-persistentvolumeclaim.yaml)
  useHostPath: false

  # only used when useHostPath == true
  hostPath: /mnt/shared

  # only used when useHostPath == false
  storage: 100Mi

  mountPath: /sms/output
  canary:
    enabled: false
    image: ghcr.io/doda2025-team20/model-service:canary
    tag: v2

  shadow:
    enabled: true
    image: ghcr.io/doda2025-team20/model-service:latest
    tag: v3

kube-prometheus-stack:
  grafana:
    adminUser: admin
    adminPassword: password123
    grafana.ini:
      server:
        root_url: "%(protocol)s://%(domain)s/grafana"
        serve_from_sub_path: true

istio:
  enabled: true
  gateway:
    name: my-gateway
    ingressGatewaySelector:
      istio: ingressgateway
    hosts:
      - "*"
  outlierDetection:
    enabled: true
  canary:
    enabled: true
    stableWeight: 90
    canaryWeight: 10
    stickySession:
      enabled: true
      cookieName: user-session
  shadow:
    enabled: true
    mirrorPercentage: 100

# AlertManager Configuration
alertmanager:
  enabled: true
  # To test the below you can use Gmail SMTP settings with your own
  # email as sender and receiver. You need to use an App Password
  # of Gmail, not your regular password. See:
  # https://support.google.com/accounts/answer/185833?hl=en
  # Alternatively, use another SMTP server of your choice.
  smtpPassword: "dummy-password-123"
  smtpUsername: user1@gmail.com
  smtpHost: smtp.gmail.com:587
  emailFrom: alertmanager@doda.com
  emailTo: admin@doda.com

# Prometheus Configuration (Legacy)
# prometheus:
#   enabled: true
#   image:
#     repository: prom/prometheus
#     tag: v2.48.0
#   service:
#     port: 9090