apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: sms-email-config
  labels:
    release: monitoring
spec:
  route:
    groupBy: ['alertname']
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 12h
    receiver: 'email-receiver'
  receivers:
  - name: 'email-receiver'
    emailConfigs:
    - to: 'admin@doda.com'
      from: 'alertmanager@doda.com'
      smarthost: 'smtp.gmail.com:587'
      authUsername: 'user@gmail.com' # dummy
      authPassword:
        name: alertmanager-email-secret
        key: smtp_auth_password