---
- hosts: ctrl
  become: true
  vars:
    kubeconfig_path: /home/vagrant/.kube/config

  pre_tasks:
    - name: Ensure apt cache is up to date
      ansible.builtin.apt:
        update_cache: yes

    - name: Ensure python3-pip is installed
      ansible.builtin.apt:
        name: python3-pip
        state: present

    - name: Install Python Kubernetes client libraries
      ansible.builtin.apt:
        name:
          - python3-kubernetes
          - python3-openshift
        state: present

  tasks:
    - name: Apply MetalLB manifest
      community.kubernetes.k8s:
        state: present
        src: https://get.metallb.io/v0.14.9/metallb-native.yaml

    - name: Wait for MetalLB pods to be ready
      ansible.builtin.shell: >
        kubectl wait --for=condition=ready pod
        -l app=metallb,component=controller -n metallb-system --timeout=120s

    - name: Apply MetalLB IPAddressPool and L2Advertisement
      community.kubernetes.k8s:
        state: present
        definition: |
          ---
          apiVersion: metallb.io/v1beta1
          kind: IPAddressPool
          metadata:
            name: first-pool
            namespace: metallb-system
          spec:
            addresses:
            - 192.168.56.90-192.168.56.99
          ---
          apiVersion: metallb.io/v1beta1
          kind: L2Advertisement
          metadata:
            name: example
            namespace: metallb-system
          spec:
            ipAddressPools:
            - first-pool

    - name: Add ingress-nginx Helm repository
      community.kubernetes.helm_repository:
        name: ingress-nginx
        repo_url: https://kubernetes.github.io/ingress-nginx
        state: present

    - name: Install ingress-nginx chart
      community.kubernetes.helm:
        name: ingress-nginx
        chart_ref: ingress-nginx/ingress-nginx
        release_namespace: ingress-nginx
        create_namespace: yes
        state: present
        values:
          controller:
            service:
              loadBalancerIP: 192.168.56.90